<div class="center-content">
  <div class="date-time-container">
    <p appResizeElement>{{ today | dateTime:'dd/MM/yyyy' }}</p>
  </div>
  <h2>Welcome to Online Courses</h2>
  <p>
    Discover a wide range of online courses that will help you advance in your career,<br>
    learn new skills, or pursue your passions.<br>
    Whether you're looking for professional development or personal growth,<br>
    we offer high-quality courses designed to help you succeed.
  </p>

  <strong id="ask">Why Choose Us?</strong>

  <p>
    <strong>Expert Instructors:</strong> Learn from professionals with real-world experience. <br>
    <strong>Flexible Learning:</strong> Access courses anytime, anywhere, at your own pace. <br>
    <strong>Certifications:</strong> Earn certificates to boost your resume and showcase your skills. <br><br>
    <strong>Get Started Today!</strong> <br>
    Sign up now to start learning and unlock your full potential.
  </p>
</div>