<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
  <mat-card>
    <mat-card-title>SIGN UP</mat-card-title>
    <mat-card-content>


      <div formGroupName="userDetails">

        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Name" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Email" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Password" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Role</mat-label>
          <mat-select formControlName="role">
            <mat-option value="student">Student</mat-option>
            <mat-option value="teacher">Teacher</mat-option>
          </mat-select>
        </mat-form-field>

      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Register</button>
    </mat-card-actions>
  </mat-card>
</form>