<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <mat-card>
    <mat-card-title>SIGN IN</mat-card-title>
    <mat-card-content>
      <div formGroupName="userDetails">

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Email" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Password" />
        </mat-form-field>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    </mat-card-actions>
  </mat-card>
</form>